# BeggingContract测试结果

## 合约地址
0x7feB4C4E20b9930D8cF56A5af7Ae4Dd75C067acc

## 测试结果
### donate
![](.\img\donate1.png)  
![](.\img\donate2.png)  
### 捐献排名
![](.\img\getRanks.png)  
### 设置捐献时间
![](.\img\setDonateTime1_1.png)   
![](.\img\setDonateTime1-2.png)  
![](.\img\setDonateTime2-1.png)  
![](.\img\setDonateTime2-2.png)  
![](.\img\setDonateTime2-3.png)  
![](.\img\setDonateTime2-4.png)  
![](.\img\setDonateTime2-5.png)  
### 提款
![](.\img\withdraw1-1.png)  
![](.\img\withdraw2-1.png)
![](.\img\withdraw2-2.png)



